/* body {
  margin: 0;
  font-family: "Karantina", cursive;
  background-color: #fff;
  color: #2a2a2a;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 30px;
}

.title {
  font-size: 70px;
  font-weight: bold;
  margin: 0px;
}

.countdown {
  display: flex;
  font-size: 5rem;
  font-weight: bold;
  flex-direction: row;
  gap: 50px;
}

.countdown > div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 65px;
  gap: 5px;
}

.countdown > div::before {
  content: attr(id);
  text-transform: capitalize;
  display: block;
  font-size: 35px;
  font-weight: 400;
}

@media screen and (max-width: 400px) {
} */

body {
  margin: 0;
  font-family: "Karantina", cursive;
  background-color: #2d2d2d;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}

.title {
  font-size: 6vw;
  margin-bottom: 10px;
  max-width: 90%;
  text-align: center;
}

.countdown {
  display: flex;
  font-size: 10vw;
  font-weight: bold;
  max-width: 90%;
  text-align: center;
}

.countdown > div {
  margin: 0 10px;
  flex: 1;
}

.countdown > div::before {
  content: attr(id);
  text-transform: capitalize;
  display: block;
  font-size: 0.3em;
  font-weight: normal;
}
