@font-face {
  font-family: "PloniB";
  src: url("./fonts/ploni-black-aaa.otf");
  format: ("opentype");
}

body {
  margin: 0;
  font-family: "PloniB", cursive;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 240px;
  margin-bottom: 20px;
}

.countdown {
  display: flex;
  font-size: 16rem;
  font-weight: 400;
}

.countdown > div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 216px;
}

.countdown > div:not(:first-child) {
  margin-left: 40px; /* adjust as necessary */
}

.countdown > div::before {
  content: attr(id);
  text-transform: capitalize;
  font-size: 90px;
  font-weight: 300;
}

body.day {
  background-color: #ffffff; /* Day mode background color */
  color: #000000; /* Day mode text color */
}

body.night {
  background-color: #000000; /* Night mode background color */
  color: #cbcbcb; /* Night mode text color */
}

/* Rest of your CSS code ... */
