body {
  margin: 0;
  font-family: "Karantina", cursive;
  background-color: #332fd0;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.colorbkg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fb2576;
  box-shadow: 0px 135px 54px rgba(0, 0, 0, 0.03),
    0px 76px 46px rgba(0, 0, 0, 0.1), 0px 34px 34px rgba(0, 0, 0, 0.17),
    0px 8px 19px rgba(0, 0, 0, 0.19), 0px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 71px;
  padding: 40px 160px 70px 160px;
}

.title {
  font-size: 240px;
  font-weight: 900;
}

.countdown {
  display: flex;
  font-size: 16rem;
  font-weight: 900;
}

.countdown > div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 216px;
}

.countdown > div:not(:first-child) {
  margin-left: 40px;
}

.countdown > div::before {
  content: attr(id);
  text-transform: capitalize;
  font-size: 90px;
  font-weight: 300;
}

body.day {
  background-color: #ffffff;
  color: #202328;
  font-family: "Karantina", cursive;
}

body.night {
  background-color: #020409;
  color: #e7edf2;
  font-family: "Karantina", cursive;
}

.colorbkg.day {
  background: #f6f8fa; /* Day mode background color for colorbkg */
}

.colorbkg.night {
  background: #13171e; /* Night mode background color for colorbkg */
}

.wifi-container {
  position: absolute;
  font-family: sans-serif;
  font-size: 35px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;
  display: flex;
  gap: 40px;
}

h1.wifi-title {
  font-weight: 300;
  letter-spacing: -2px;
}

h3.wifi-pass {
  font-weight: 300;
  letter-spacing: -2px;
}

span.wifi-bold {
  font-weight: bold;
}

span.wifi.bold {
  font-weight: 900;
}
